
html, body {
    height: 100%;
}

.col-sm-3.sidenav.hidden-xs {
    width: 19%;
}

.nav li {
    font-size: 2.2vw;
    text-align: center;
    margin-right: 0;
    margin-bottom: 30px;
    padding-right: 0;
}

a {
    color: white;
    text-align: left;
}

ul {
    margin-left: 15%;
}

.templatemo-left-nav {
    display: inline-block
}

.navbar-brand {
    position: relative;
    width: 60%;
    height: 60%;
    margin-top: 40px;
    margin-right: 0;
    margin-left: 35px;
    background-image: url("../other/trinity-white.png");
    background-repeat: no-repeat;

    background-size: 100%;
    padding-bottom: 80%;
}

.container-fluid {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
}

.row.content {
    height: 100%;
}

.col-sm-9 {
    left: 3%;
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: rgb(0, 0, 0);
    height: 100%;
}

#container-stations {
    display: none;
}

#container-emission {
    display: none;
}

#container-monitor {
    display: none;
}

#container-about {
    display: none;
}

#map {
    margin-top: 1vw;
    width: 100%;
    height: 42vw;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .container-fluid {
        height: 80%;
        overflow-y: auto;
    }

    .row.content {
        height: auto;
    }

    .nav li {
        font-size: 5vw;
    }

    ul.nav.navbar-nav {
        margin-left: 140%;
    }

    .col-sm-9 {
        left: 0;
    }
}

